*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  --blue: #2d7dff;
  --lightblue: #2485ff;
  --grey: #bababa;
  --white: #ffffff;
  --black: #2c2931;
  font-size: 16px;
  font-family: sans-serif;
  background: var(--black);
}

/* NAVIGATION MENU */
nav {
  display: none;
  z-index: 1000;
  background: var(--black);
  color: var(--white);
  font-size: 2rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: flex;
}
nav li:first-child {
  background: var(--blue);
}
nav a {
  color: unset;
  text-decoration: none;
  padding: 1em 5vw;
  width: 100%;
}
nav a:hover {
  background: var(--grey);
}
.close-menu-btn {
  border: none;
  display: flex;
  justify-content: flex-start;
  padding: 4em 5vw;
  width: 100%;
  background: none;
  cursor: pointer;
}
.close-menu-btn:hover {
  background: var(--grey);
}
.close-menu-btn img {
  transform: rotate(180deg);
}

/* MOBILE TOP BAR */

.top-bar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5em 10vw;
  background: var(--black);
  z-index: 998;
}
.top-bar .bottom-border {
  background: rgb(44, 41, 49);
  background: linear-gradient(90deg, rgba(44, 41, 49, 1) 0%, #111111 90%);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 3px;
}
.open-menu-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.sm-screen-logo {
  margin: 0 auto;
  color: var(--blue);
}

main {
  height: 100vh;
  color: var(--white);
  padding: 3rem 10vw;
  background: black;
  background-image: url("src/bg.jpg");
  background-size: cover;
  background-position: 50%;
}

.content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-top: 2rem;
  height: 100%;
  width: 100%;
  position: relative;
}
.content::before {
  content: "";
}

.subject {
  font-size: 4rem;
}

.hook-line {
  color: var(--grey);
  font-size: 3rem;
  margin: 2rem 0;
}

.cta-btn {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 1em 2em;
  background: none;
  color: var(--white);
  border: 2px solid var(--grey);
  cursor: pointer;
  width: auto;
  margin-right: auto;
}

.cta-btn:hover {
  background: var(--white);
  color: var(--black);
}
.cta-btn img {
  margin-right: 1rem;
}
.cta-btn:hover img {
  filter: invert(1);
}

@media screen and (min-width: 600px) {
  body {
    display: flex;
  }
  .top-bar {
    display: none;
  }
  nav {
    display: block;
    position: relative;
    height: 100vh;
  }
  .close-menu-btn {
    pointer-events: none;
  }
  .close-menu-btn > * {
    display: none;
  }
  nav li:first-child {
    background: inherit;
  }
}
