*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  --blue: #2d7dff;
  --lightblue: #2485ff;
  --grey: #847d93;
  --white: #ffffff;
  --black: #2c2931;
  font-size: 16px;
  font-family: sans-serif;
  background: var(--black);
}

/* NAVIGATION MENU */
nav {
  display: none;
  background: var(--black);
  color: var(--white);
  font-size: 2rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: flex;
  /* border: 1px solid green; */
}
nav li:first-child {
  background: var(--blue);
}
nav a {
  color: unset;
  text-decoration: none;
  /* border: 1px solid red; */
  padding: 1em 5vw;
  width: 100%;
}
nav a:hover {
  background: var(--grey);
}
.close-menu-btn {
  border: none;
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
  padding: 4em 5vw;
  width: 100%;
  background: none;
  cursor: pointer;
}
.close-menu-btn:hover {
  background: var(--grey);
}
.close-menu-btn img {
  transform: rotate(180deg);
}

/* MOBILE TOP BAR */

.top-bar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5em 10vw;
}
.open-menu-btn {
  background: none;
  border: none;
  cursor: pointer;
}
.sm-screen-logo {
  margin: 0 auto;
  color: var(--blue);
}
